<%= form_for([:admin,@lesson_rating]) do |f|  %>
  <!-- Field for communication rating -->
  <div class = "form-group">
    <%= f.label :communication,class: "control-label"%>
    <%= f.number_field :communication,class: "form-control" %>
  </div>
  <!-- Field for quality rating -->
  <div class = "form-group">
    <%= f.label :quality,class: "control-label"%>
    <%= f.number_field :quality,class: "form-control" %>
  </div>
  <!-- Field for teaching rating -->
  <div class = "form-group">
    <%= f.label :teaching,class: "control-label"%>
    <%= f.number_field :teaching,class: "form-control" %>
  </div>
  <!-- Field for general_grade rating -->
  <div class = "form-group">
    <%= f.label :general_grade,class: "control-label"%>
    <%= f.number_field :general_grade,class: "form-control" %>
  </div>
  <!-- Hidden fields for the ids -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :lesson_id, :value =>params[:lesson_id] %>
  <div class = "form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
</div>