<div class="container-fluid profile">
  <%= render 'users/usersidemenu' %>
  <%= @contact_message.first_name %> <br/>
  <%= @contact_message.last_name %> <br/>
  <%= @contact_message.email %> <br/>
  <%= @contact_message.subject %> <br/>
  <%= @contact_message.message %> <br/>
</div>