<div class="container-fluid">
  <div class="menu top-nav row">
    <a class="navbar-brand" href="<%= root_path %>" style="color:lightblue">GEORGE RENTIS<i class="fa fa-road"></i></a>
    <ul class="nav navbar-nav subm" >
      <li><a href="<%= root_path %>">Home</a></li>
      <li>
        <li><a href="<%= lessons_path %>">Lessons</a></li>
      </li>
      <li><a href="<%= categories_index_path %>">Categories</a></li>
      <li><a href="<%= contact_us_path %>">Contact Us</a></li>
        <% if current_user && current_user.role_id == "admin" %>
          <li> <%= link_to "Admin Panel",admin_root_path%> </li>
        <% end %>
        <% if current_user %>
          <li> <%= link_to "Your Profile",user_users_path %> </li>
        <% end %>
      </ul>
    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li><%= link_to "#{current_user.email} - Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><a href="<%= new_user_user_path %>">SIGN UP</a></li>
        <li><a href="<%= new_user_session_path %>">SIGN IN</a></li>
      <% end %>
    </ul>
  </div>
</div>