<div class="container-fluid profile">
  <%= render 'users/usersidemenu' %>
  <div class="col-sm-8 user_lesson_edit">
  <h2 class="heading"> Create a Lesson </h2>
    <%= nested_form_for([ :user,@lesson]) do |f| %>
      <div class = "form-group" >
        <%= f.label :title,class: "control-label" %>
        <%= f.text_field :title,class: "form-control" %>
      </div>
      <div class = "form-group">
        <%= f.label :description,class: "control-label" %>
        <%= f.text_area :description,class: "form-control" %>
      </div>
    <div class = "form-group">
      <%= f.label :level,class: "control-label"%>
      <%= f.select(:level,options_for_select([["Α' Εξάμηνο","A' Εξάμηνο"],["Β' Εξάμηνο","IΒ' Εξάμηνο"],["Γ' Εξάμηνο","Γ' Εξάμηνο"],["Δ' Εξάμηνο","Δ' Εξάμηνο"],["Ε' Εξάμηνο","Ε' Εξάμηνο"],["ΣΤ' Εξάμηνο","ΣΤ' Εξάμηνο"]]),class: "form-control") %>
    </div>
      <div class = "form-group">
        <%= f.label :category_id,class: "control-label" %>
        <%= f.select(:category_id,Category.all.collect{|c| [c.name,c.id]},prompt: 'Select Category',class: "form-control") %>
      </div>
        <div class = "form-group">
    <%= f.fields_for :uploads do |upload| %>
      <%= upload.file_field :upload, class: "nested_form_box" %>
      <p><%= upload.link_to_remove "Remove this file", class: "btn btn-danger btn-xs" %><p>
    <% end %>
    <p><%= f.link_to_add "Add a new file", :uploads, class: "btn btn-primary btn-xs" %></p>
  </div>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
</div>
</div>
