<div class="container-fluid profile">
  <%= render 'users/usersidemenu' %>
  <div class="col-sm-8">
    <table class="table table-bordered" style="text-align:center">
      <thead>
        <tr>
          <th style="text-align:center" data-sort="string">Title</th>
          <th style="text-align:center" >Description</th>
          <th style="text-align:center" data-sort="string">Level</th>
          <th style="text-align:center" data-sort="string">Category</th>
          <th style="text-align:center">Teacher</th>
          <th style="text-align:center">No of Uploads</th>
          <th style="text-align:center">Action</th>
        </tr>
      </thead>
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%= lesson.title %></td>
          <td><%= lesson.description %></td>
          <td><%= lesson.level %></td>
          <td><%= Category.where(id: lesson.category_id).first.name %></td>
          <td><%= User.where(id: lesson.user_id).first.email %></td>
          <td><%= lesson.uploads.count %></td>
          <td><%= link_to "Edit",  edit_user_lesson_path(lesson), :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>





