<div class="container-fluid profile" >

  <%= render 'users/usersidemenu' %>
  <div class="col-sm-8 profile_edit" >
  <h2 class="heading"> Edit your Profile </h2>
  <%= nested_form_for([:user,@user]) do |f| %> 
    <% if @user.images.first != nil %>     
        <div class = "form-group">
          <img class="avatar" src= <%= @user.images.first.upload.url(:homepage) %> />
          <div class = "form-group">
            <%= f.fields_for :images do |image| %>
              <%= image.file_field :upload, class: "nested_form_box" %>
              <p><%= image.link_to_remove "Remove this image", class: "btn btn-danger btn-xs" %></p>
            <% end %>
            <p><%= f.link_to_add "Add a new image", :images, class: "btn btn-primary btn-xs" %></p>
          </div>
        </div>     
    <% end %>
    <div class="col-sm-9">
      <div class = "form-group">
        <%= f.label :email,class: "control-label" %>
        <%= f.text_field :email,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :first_name,class: "control-label" %>
        <%= f.text_area :first_name,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name,class: "control-label" %>
        <%= f.text_field :last_name,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bio,class: "control-label" %>
        <%= f.text_area :bio,class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>
</div>