<div class="container-fluid profile">
  <%= render 'users/usersidemenu' %>
  <div class = "col-sm-8">
    <label class="control-label">First Name: <%= current_user.first_name %></label><br/>
    <label class="control-label">Last Name: <%= current_user.last_name %></label><br/>
    <label class="control-label">Email: <%= current_user.email %></label><br/>
    <label class="control-label">Bio: <%= current_user.bio %></label><br/>
    <%= link_to "Edit",  edit_user_user_path(current_user), :class => "btn btn-primary" %>
  </div>
</div>
</div>
