<%= nested_form_for([:admin,@user],:html => {:class => 'profile_edit'}) do |f|  %>

  <% if @user.images.first != nil %>      
    <div class = "form-group">
      <img class="avatar" src= <%= @user.images.first.upload.url(:homepage) %> />
    </div>
  <% end %>
  <div class = "form-group">
    <%= f.fields_for :images do |image| %>
      <%= image.file_field :upload, class: "nested_form_box" %>
      <p><%= image.link_to_remove "Remove this image", class: "btn btn-danger btn-xs" %></p>
    <% end %>
    <p><%= f.link_to_add "Add a new image", :images, class: "btn btn-primary btn-xs" %></p>
  </div>
  
  
  <div class = "form-group">
    <%= f.label :email,class: "control-label"%>
    <%= f.text_field :email,class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :first_name,class: "control-label"%>
    <%= f.text_area :first_name,class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :last_name,class: "control-label"%>
    <%= f.text_field :last_name,class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :bio,class: "control-label"%>
    <%= f.text_area :bio,class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :role_id,class: "control-label" %>
    <%= f.select(:role_id,%w[admin user ], prompt: 'Select',class: "form-control") %>
  </div>
  <div class = "form-group">
    <%= f.label :password,class: "control-label" %>
    <%= f.text_field :password,class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :password_confirmation,class: "control-label" %>
    <%= f.text_field :password_confirmation,class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
