<h2>User List </h2>
<table class = "table table-bordered" style="text-align:center">
<!--   <th style = "text-align:center">Avatar</th> -->
  <th style = "text-align:center">First Name</th>
  <th style = "text-align:center">Last Name</th>
  <th style = "text-align:center">User Rating</th>
  <th style = "text-align:center">Email</th>
  <th style = "text-align:center">Bio</th>
  <th style = "text-align:center">Role</th>
  <th colspan = 4 style = "text-align:center">Action</th>
  <% @users.each do |user| %>
    <% @lessonsaverage = 0 %>
    <% @lessonavg = 0 %>
    <tr>
     <!--  <td><%=image_tag( user.try(:images).first.try(:upload).try(:url) ) %></td> -->
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <% if user.lessons.count > 0 %>
        <% user.lessons.each do |l| %>
          <% if l.lesson_ratings.count >0 %>
          <% @lavg = 0 %>
          <% l.lesson_ratings.each do |r| %>
            <% @lavg = @lavg + r.avg %>
          <% end %>
          <% @lessonavg = 0 %>
          <% @lessonavg = @lavg / l.lesson_ratings.count %>
          <% end %>
          <% @lessonsaverage = @lessonsaverage + @lessonavg %>
        <% end %>
        <td><%= @lessonsaverage / user.lessons.count %></td>
      <% end %>
      <td><%= user.email %></td>
      <td><%= user.bio %></td>
      <td><%= user.role_id %></td>
      <% if user.id!=current_user.id %>
        <td><%= link_to "Conversations",talks_admin_messages_path(:email => user.email) ,class: "btn btn-info"%></td>
        <td><%= link_to "Send a message",new_admin_message_path(:email => user.email) ,class: "btn btn-info"%></td>
      <% end %>
      <td><%= link_to "Edit",  edit_admin_user_path(user), :class => "btn btn-primary" %></td>
      <td><%= link_to "Delete",admin_user_path(user), method: :delete, :class => "btn btn-danger",data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
</table>